<br>
<div class="container">
    <div class="jumbotron">
        <h1>Samipedia</h1>
        <p>Samipedia is a wiki-like Encyclopedia rescource</p>
        <p><%= link_to "Sign Up", new_user_session_path %></p>
        <p><%= link_to "Sign In", user_session_path %></p>
    </div>
</div>

<div class="container">
<div class="row">
    <div class="col-md-4">
        <h2>Register for free</h2>
        <p>Join the growing Samipedia movement for free and begin contributing today</p>
    </div>
    <div class="col-md-4">
        <h2>Upgrade to a Premium Account</h2>
        <p>Premium users have access to private entries and groups and much much more</p>
    </div>
    <div class="col-md-4">
        <h2>Tell your friends</h2>
        <p>The more people who join our movement, the stronger we become!</p>
    </div>
</div>
</div>