<div class="container">
    <h1>Downgrade Account</h1>
    <div class="col-md-8">
        <%= form_tag(charge_path, :method=>'patch') do %>
            <% submit_tag 'Save' %>
        <% end %>
    </div>
</div>